---
name: VS Code Tunnel
version: dev
slug: vscode-tunnel
description: Fully featured Visual Studio Code (VSCode) experience integrated in the Home Assistant frontend.
url: https://github.com/hassio-addons/addon-vscode
ingress: false
ingress_stream: false
startup: services
init: false
arch:
  - aarch64
  - amd64
uart: true
hassio_api: true
hassio_role: manager
homeassistant_api: true
map:
  - type: addons
    read_only: false
  - type: all_addon_configs
    read_only: false
  - type: backup
    read_only: false
  - type: homeassistant_config
    read_only: false
    path: /config
  - type: media
    read_only: false
  - type: share
    read_only: false
  - type: ssl
    read_only: false
services:
  - mysql:want
  - mqtt:want
options:
  server_name: homeassistant
  login_provider: github
  packages: []
  init_commands: []
schema:
  server_name: str
  login_provider: list(github|microsoft)
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
  config_path: str?
  packages:
    - str
  init_commands:
    - str
